*{
    margin: 0px;
    padding: 0px;

    
}

.header-menu{
    background:#ffffff;
    display: flexbox;
}
.header-menu ul{
    text-align: center;
   
}
.header-menu ul li{
    display: inline-block;
   margin-left:-4px;
   
}
.header-menu ul li a{
    color: rgb(188, 7, 233);
    text-decoration: none;
    padding: 15px 42px;
    display: inline-block;
    font-size: 20px;
    border-right:1px solid #ddd;
}
.header-menu ul li:first-child a{
    border-left:1px solid #ddd;
}
.header-menu ul li:hover > a{
    background-color:#f00ce5;
}
/*Drope down menu start*/
.header-menu ul li{
    position: relative;
}
.header-menu ul li ul{
    position: absolute;
    left: 0;
    top:100%;
    width: 300px;
    background-color:#ffffff;
    border-top: 1px solid #ddd;
    transition: .4s;
}
.header-menu ul li ul li{
    display:block;
    margin-left: 0;

}
.header-menu ul li ul li a{
    display: block;
    border: none;
    border-bottom:1px solid #ddd ;
}
.header-menu ul ul li:first-child a{
    border-left:none;
}

/*hover part*/
.header-menu ul li ul{
   opacity: 0;
   visibility: hidden;
   transform: scaley(0);
   transform-origin:top center;
}
.header-menu ul li:hover ul{
    transform: scaley(1);
    opacity: 1;
    visibility:visible;
}

.header-menu ul li ul li a:hover{}

/*social-menu*/
.social-menu{
    margin-top:300px;
}
.social-menu ul{
    text-align: center;
}
.social-menu ul li{
    display: inline-block;
    margin-left:-5px;
}
.social-menu ul li a{
    color:white;
    background-color:#9b59b6;
    font-size: 40px;
   
    margin-left:5px;
    margin-right:15px;
    height:100px;
    width: 100px;
    display: inline-block;
   line-height:100px;
   border-radius: 50%;
}
.img{

width: 50%;
}
.img1{
    height: 700px;
    width: 100%;


}
.main{
    display: flex;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 40px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  };

/*social-menu*/
.social-menu{
    margin-top:300px;
}
.social-menu ul{
    text-align: center;
}
.social-menu ul li{
    display: inline-block;
    margin-left:-5px;
}
.social-menu ul li a{
    color:white;
    background-color:#9b59b6;
    font-size: 40px;
   
    margin-left:5px;
    margin-right:15px;
    height:100px;
    width: 100px;
    display: inline-block;
   line-height:100px;
   border-radius: 50%;

    


}
.social-menu ul li a:hover{}
    